<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina</title>
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
</head>
<body>
    <nav>
        <section>
            <a href="{% url 'Login' %}">
                <button>LOGIN</button>
            </a>
            <a href="{% url 'registro'%}">
                <button>REGISTRO</button> 
            </a>
        </section>
        <img src="{% static 'img/logoempresa.png' %}" alt="" width="200">
    </nav>
    <header>
        <img src="{% static 'img/Poli.png' %}" alt="" id="LogoPoli">
    </header>
    <main id="InfoPersonal">
        <section>
            <strong>Habilidades:</strong>
            <p>Facil de aprendizaje</p>
            <p>Trabajo en equipo</p>
            <strong>Herramientas de dominio</strong>
            <p>Java</p>
            <p>HTML</p>
            <p>Python</p>
            <p>PHP</p>
        </section>
        <section id="datosPersonal">
            <img src="{% static 'img/Personal.jpeg' %}" width="250">
            <div id="datosPersonal">
                <strong>Nombre:</strong><p>Andrés Felipe</p>
                <strong>Apellido:</strong><p>Montoya López</p>
                <strong>Cedula:</strong><p>1.000.758.778</p>
                <strong>Correo:</strong><p>andresmontoya269@gmail.com</p>
            </div>
        </section>
    </main>
</body>
</html>