<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro</title>
  <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
</head>
<body>
  <nav>
    <section>
      <a href="/">
        <button>INICIO</button>
      </a>
    </section>
    <img src="{% static 'img/logoempresa.png' %}" alt="" width="200">
  </nav>
  <header>
    <img src="{% static 'img/Poli.png' %}" alt="" id="LogoPoli" height="">
    <section id="loginForm">
        <form method="post">
          {% csrf_token %}
          <input type="text" name="nombreUser" placeholder="Nombre">
          <input type="text" name="apellidoUser" placeholder="Apellido">
          <input type="email" name="correoUser" placeholder="Correo">
          <input type="text" name="usuarioUser" placeholder="Usuario">
          <input type="password" name="contasenaUser" placeholder="Contraseña">
          <button type="submit">Registrar</button>
        </form>
      </section>
</header>
  <main id="InfoPersonal">
    <section id="datosPersonal">
        <img src="{% static 'img/Personal.jpeg' %}" width="250">
        <div id="datosPersonal">
            <strong>Nombre:</strong><p>Andrés Felipe</p>
            <strong>Apellido:</strong><p>Montoya López</p>
            <strong>Cedula:</strong><p>1.000.758.778</p>
            <strong>Correo:</strong><p>andresmontoya269@gmail.com</p>
        </div>
    </section>
  </main>
</body>
</html>