:root {
    --fondoHeader: #e0ea53;
    --naranja: #ff9900;
    --fondoNovedades: #d3d01f;
    --fondoBody: #927b16;
}

body {
    background: var(--fondoHeader);
    margin: 0;
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--naranja);
    padding: 20px;
}

button {
    background: var(--naranja);
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}

header {
    background: var(--fondoNovedades);
    display: flex;
    justify-content: center;
    padding: 50px;
    border-bottom: 1px solid var(--naranja);
}

#logoPoli {
    padding: 20px;
    box-shadow: 0px 0px 10px var(--naranja);
}

main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: var(--fondoBody);
    padding: 20px;
}

#infoPersonal {
    display: flex;
    align-items: center;
}

#infoPersonal img {
    margin-right: 20px;
}

#cuadroInfoP {
    box-shadow: 0px 0px 10px #000;
    padding: 20px;
}


#datosPersonal {
    display: flex;
    flex-direction: column;
}

#datosPersonal div {
    display: flex;
    align-items: center;
}
#loginform {
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #f9f9f9;
      
}
#loginForm input, #loginForm button {
    margin-bottom: 10px;
    font-size: 16px;
    font-family: sans-serif;
  }
/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#categoriasP {
    margin-top: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.carousel {
    width: 100%;
    margin-top: 20px;
}

.carousel-inner {
    display: flex;
}

.carousel-item {
    width: 100%;
}
h1, h2 {
    color: #f70c0c;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}
