<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>CoffeeSTAR</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free Website Template" name="keywords">
    <meta content="Free Website Template" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet"> 

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'css/style.min.css' %}" rel="stylesheet">
</head>

<body>
    <div class="container-fluid p-0 nav-bar">
        <nav class="navbar navbar-expand-lg bg-none navbar-dark py-3">
            <a href="{% url 'index' %}" class="navbar-brand px-lg-4 m-0">
                <img src="{% static 'img/LogoEmpresa.png' %}" alt="" width="200">
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="navbar-nav ml-auto p-4">
                    <a href="{% url 'visualizar' %}" class="nav-item nav-link">Ver productos</a>
                    <a href="{% url 'index' %}" class="nav-item nav-link">Cerrar sesion</a>
                    
                </div>
            </div>
        </nav>
    </div>
    <!-- Navbar End -->
    
    <!-- Carousel Start -->
    <div class="container-fluid p-0 mb-5">
        <div id="blog-carousel" class="carousel slide overlay-bottom" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="w-100" src="{% static 'img/carousel-1.jpg' %}" alt="Image">
                    <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                        <h2 class="text-primary font-weight-medium m-0">Cafe-Bar</h2>
                        <h1 class="display-1 text-white m-0">CoffeeSTAR</h1>
                        <h2 class="text-white m-0">* DESDE 2023 *</h2>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="w-100" src="{% static 'img/carousel-2.jpg' %}" alt="Image">
                    <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                        <h2 class="text-primary font-weight-medium m-0">Ubicados en Rionegro-Antioquia</h2>
                        <h1 class="display-1 text-white m-0">CoffeeSTAR</h1>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#blog-carousel" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#blog-carousel" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="text-center p-5" style="background: rgba(51, 33, 29, .8);">
            <h1 class="text-white mb-4 mt-5">Ingresar productos</h1>
            <form class="mb-5" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <h2 class="text-primary font-weight-medium m-0">Ingrese el nombre</h2>
                    <input type="text" class="form-control" name="Nombre"
                        required="required" />
                </div>
                <div class="form-group">
                    <h2 class="text-primary font-weight-medium m-0">Ingrese el tipo de producto</h2>
                    <select class="custom-select" style="height: 49px;" name="Tipo">
                        <option value="0" selected> </option>
                        <option value="Caliente">Bebidas Calientes</option>
                        <option value="Frias">Bebidas frias</option>
                        <option value="Tragos">Bar en general</option>
                        <option value="Postres">Tortas y postres</option>
                    </select>
                <div class="form-group">
                    <h2 class="text-primary font-weight-medium m-0">Ingrese la ruta de la imagen</h2>
                    <input type="text" class="form-control" name="Imagen" id="">
                </div>
                <div class="form-group">
                    <h2 class="text-primary font-weight-medium m-0">Ingrese la descripcion</h2>
                    <input type="text" class="form-control" name="Descripcion"
                        required="required" />
                </div>
                <div class="form-group">
                    <h2 class="text-primary font-weight-medium m-0">Ingrese el precio</h2>
                    <input type="number" class="form-control" name="Precio"
                        required="required" />
                </div>
                <div>
                    <input class="btn btn-primary btn-block font-weight-bold py-3" type="reset" value="Reset">
                    <input class="btn btn-primary btn-block font-weight-bold py-3" type="submit" value="Enviar" name="Enviar">
                </div>
            </form>
        </div>
    </div>
    <!-- Footer Start -->
    <div class="container-fluid footer text-white mt-5 pt-5 px-0 position-relative overlay-top">
        <div class="row mx-0 pt-5 px-sm-3 px-lg-5 mt-4">
            <div class="col-lg-3 col-md-6 mb-5">
                <h4 class="text-white text-uppercase mb-4" style="letter-spacing: 3px;">Ubicanos</h4>
                <p><i class="fa fa-map-marker-alt mr-2"></i>Rionegro-Antioquia-Colombia</p>
                <p><i class="fa fa-phone-alt mr-2"></i>+57 3234108779</p>
                <p class="m-0"><i class="fa fa-envelope mr-2"></i>andresmontoya269@gmail.com</p>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h4 class="text-white text-uppercase mb-4" style="letter-spacing: 3px;">Horario de Atencion</h4>
                <div>
                    <h6 class="text-white text-uppercase">Lunes - Sabado</h6>
                    <p>8.00 AM - 9.00 PM</p>
                </div>
            </div>
        </div>
        <div class="container-fluid text-center text-white border-top mt-4 py-4 px-sm-3 px-md-5" style="border-color: rgba(256, 256, 256, .1) !important;">
            <p class="mb-2 text-white">Copyright &copy; <a class="font-weight-bold" href="#">Domain</a>. All Rights Reserved.</a></p>
            <p class="m-0 text-white">Designed by <a class="font-weight-bold" href="https://htmlcodex.com">HTML Codex</a></p>
        </div>
    </div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="fa fa-angle-double-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/tempusdominus/js/moment.min.js"></script>
    <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="mail/jqBootstrapValidation.min.js"></script>
    <script src="mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>

</html>