<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script src="https://cdn.jsdelivr.net/jquery.validation/1.15.1/jquery.validate.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/formlogin.css' %}">
</head>
<body>
<div class="container">
        <div class="row">
			<div class="col-md-5 mx-auto">
			<div id="first">
				<div class="myform form ">
					 <div class="logo mb-3">
						 <div class="col-md-12 text-center">
							<h1>Registro</h1>
						 </div>
					</div>
                    <form method="post">
                        {% csrf_token %}
<div class="form-group"> <!-- Full Name -->
    <label for="full_name_id" class="control-label">Nombre</label>
    <input type="text" class="form-control" id="full_name_id" name="Nombre">
</div>

<div class="form-group"> <!-- Full Name -->
    <label for="full_name_id" class="control-label">Apellido</label>
    <input type="text" class="form-control" id="full_name_id" name="Apellido">
</div>
                        
<div class="form-group"> <!-- Street 2 -->
    <label for="street2_id" class="control-label">Correo</label>
    <input type="email" class="form-control" id="street2_id" name="Correo">
</div>

<div class="form-group"> <!-- Street 2 -->
    <label for="street2_id" class="control-label">Clave</label>
    <input type="password" class="form-control" id="street2_id" name="Clave">
</div> 


<div class="col-md-12 text-center ">
    <button type="submit" class=" btn btn-block mybtn btn-primary tx-tfm" value="Registrar" name="Registrar">Registrar</button><br>
    
</div>  
</form>

    <a href="{% url 'Login' %}"><button class="btn btn-block mybtn btn-primary tx-tfm" value="Regresar">Regresar</button></a>      
</body>
</html>