<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Especificaciones</title>
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
</head>
<body>
    <nav>
        <section>
          <a href="/">
            <button>INICIO</button>
          </a>
        </section>
        <img src="{% static 'img/logoempresa.png' %}" alt="" width="200">
      </nav>
    <h1>Especificaciones del Producto</h1>
    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{% static producto.ruta1 %}" class="d-block w-100" alt="..." width="250">
          </div>
          <div class="carousel-item">
            <img src="{% static producto.ruta2 %}" class="d-block w-100" alt="..." width="250">
          </div>
          <div class="carousel-item">
            <img src="{% static producto.ruta3 %}" class="d-block w-100" alt="..." width="250">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    <h2>{{ producto.nombreProducto }}</h2>
    <p>{{ producto.descripcionProducto }}</p>
    <p>Precio: {{ producto.precioProducto }}</p>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</body>
</html>
