<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
</head>
<body>
    <nav>
        <section>
          <a href="/">
            <button>INICIO</button>
          </a>
        </section>
        <img src="{% static 'img/logoempresa.png' %}" alt="" width="200">
    </nav>
    <section id="categoriasP">
          <h1 id="BebidaCaliente">Bebidas Calientes</h1> 
          <a href="/especificaciones"><img src="{% static 'img/1.jpg' %}" width="250"></a><br>
          <strong>Nombre:</strong><p>Tinto Americano</p>
          <strong>Descripcion:</strong><p>Calentito</p>
          <strong>Precio:</strong><p>1500</p>
          <a href="/especificaciones"><img src="{% static 'img/4.jpg' %}" width="250"></a><br>
          <strong>Nombre:</strong><p>Cafe con leche</p>
          <strong>Descripcion:</strong><p>Calentito</p>
          <strong>Precio:</strong><p>2300</p><br>
          <a href="{% url 'visualizarCat' categoria='BebidaCaliente' %}"><button>Ver mas</button></a><br>

          <h1 id="Bebidafria">Bebidas frias</h1> 
          <a href="/especificaciones"><img src="{% static 'img/7.jpg' %}" width="250"></a><br>
          <strong>Nombre:</strong><p>Granizado de cafe</p>
          <strong>Descripcion:</strong><p>Con arequipe, chocolate y chantilly</p>
          <strong>Precio:</strong><p>4000</p>
          <a href="/especificaciones"><img src="{% static 'img/10.jpg' %}" width="250"></a><br>
          <strong>Nombre:</strong><p>Milo Frio</p>
          <strong>Descripcion:</strong><p>En vaso grande</p>
          <strong>Precio:</strong><p>4500</p><br>
          <a href="{% url 'visualizarCat' categoria='Bebidafria' %}"><button>Ver mas</button></a>
    </section>
</body>
</html>