<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro Productos</title>
  <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
</head>
<body>
  <nav>
    <section>
      <a href="/">
        <button>INICIO</button>
      </a>
    </section>
    <img src="{% static 'img/logoempresa.png' %}" alt="" width="200">
  </nav>
  <header>
    <img src="{% static 'img/Poli.png' %}" alt="" id="LogoPoli" height="">
    <section id="loginForm">
        <form method="post">
          {% csrf_token %}
          <input type="text" name="nombreProducto" placeholder="Nombre">
          <input type="textarea" name="descripcionProducto" placeholder="Descripcion">
          <select name="Categoria">
            <option value="Caliente">Bebidas calientes</option>
            <option value="Frias">Bebidas frias</option>
            <option value="Bar">Bar</option>
            <option value="Postres">Postres</option>
            <option value="Panaderia">Panaderia</option>
          </select>
          <input type="text" name="rutaProducto1" placeholder="Ruta1">
          <input type="text" name="rutaProducto2" placeholder="Ruta2">
          <input type="text" name="rutaProducto3" placeholder="Ruta3">
          <input type="number" name="precioProducto" placeholder="Precio">
          <button type="submit">Registrar</button>
        </form>
      </section>
</header>
  <main id="InfoPersonal">
    <section id="datosPersonal">
        <img src="{% static 'img/Personal.jpeg' %}" width="250">
        <div id="datosPersonal">
            <strong>Nombre:</strong><p>Andrés Felipe</p>
            <strong>Apellido:</strong><p>Montoya López</p>
            <strong>Cedula:</strong><p>1.000.758.778</p>
            <strong>Correo:</strong><p>andresmontoya269@gmail.com</p>
        </div>
    </section>
  </main>
</body>
</html>