<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
</head>
<body>
    <nav>
        <section>
          <a href="/">
            <button>INICIO</button>
          </a>
        </section>
        <img src="{% static 'img/logoempresa.png' %}" alt="" width="200">
    </nav>
    {% for i in arreglo %}
        {% if i.categoriaProducto == 'Caliente' %}
            <section id="categoriasP">
                <strong>Categoria: </strong><h1>Bebidas Calientes</h1> 
                <img src="{% static i.ruta1 %}" width="250"><br>
                <strong>Nombre:</strong><p>{{i.nombreProducto}}</p>
                <strong>Descripcion:</strong><p>{{i.descripcionProducto}}</p>
                <strong>Precio:</strong><p>{{i.precioProducto}}</p>
                <a href="{% url 'especificaciones' id=i.idProducto %}"><button>Ver mas</button></a>
            </section>
        {% elif i.categoriaProducto == 'Frias'%}
        <section id="categoriasP">
            <strong>Categoria: </strong><h1>Bebidas Frias</h1> 
            <img src="{% static i.ruta1 %}" width="250"><br>
            <strong>Nombre:</strong><p>{{i.nombreProducto}}</p>
            <strong>Descripcion:</strong><p>{{i.descripcionProducto}}</p>
            <strong>Precio:</strong><p>{{i.precioProducto}}</p>
            <a href="{% url 'especificaciones' id=i.idProducto %}"><button>Ver mas</button></a>
        </section>
        {% endif %}
    {% endfor %}
</body>
</html>